@import "./style.scss";
#contact_modal {
  display: none;
}
.photograph-header {
  background-color: $Fourth-color;
  height: 300px;
  margin: 0 100px;
}
.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
.modal {
  z-index: 2;
  position: fixed;
  top: 0%;
  left: 50%;
  border-radius: 5px;
  background-color: #db8876;
  width: 40%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  transform: translate(-50%, 0);
  header {
    justify-content: space-between;
    width: 100%;
    img {
      cursor: pointer;
    }
    h2 {
      font-size: 64px;
      font-weight: normal;
      text-align: center;
    }
  }
}
form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  label {
    color: #312e2e;
    font-size: 36px;
  }
  div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
  }
  input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
  }
}
.media-section {
  margin: 0 100px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .heart-icon {
    margin-left: 5px;
    &:hover {
      cursor: pointer;
    }
  }
}
.select-section {
  margin: 2em 100px;
  margin-top: 1em;
  display: flex;
  width: 225px;
  justify-content: space-between;
  .sort-text {
    font-weight: bold;
  }
  .select-dropdown {
    display: flex;
    flex-direction: column;
    border-radius: 0.3em;
    background-color: $Primary-color;
    color: $Fourth-color;
    overflow: hidden;
    position: absolute;
    left: 200px;
    .separate-block {
      width: 120%;
      margin: auto;
      height: 1px;
      background-color: $Fourth-color;
    }
    .sort-block {
      padding: 10px;
      padding-right: 3em;
      z-index: 1;
      &:hover {
        cursor: pointer;
        text-shadow: 0px 1px 2px $Fourth-color;
      }
    }

    #sort-by-date,
    #sort-by-title {
      display: none;
    }
    .toggle-list {
      position: absolute;
      right: 0px;
      z-index: 2;
      display: flex;
      justify-content: center;
      margin: 0.6em;
      &:hover {
        cursor: pointer;
        text-shadow: 0px 1px 2px $Fourth-color;
      }
    }
  }
}
