@import "photographer.css";
body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}
$Primary-color: #901c1c;
$Second-color: #d3573c;
$Third-color: #525252;
$Fourth-color: #fafafa;
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
h1 {
  color: $Primary-color;
  margin-right: 100px;
}
.logo {
  height: 50px;
  margin-left: 100px;
}
.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 70px;
  grid-auto-flow: row dense;
  margin-top: 100px;
  article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
      color: $Second-color;
      font-size: 36px;
      margin: 0;
    }
    img {
      height: 200px;
      width: 200px;
      border-radius: 100%;
      object-fit: cover;
    }
    .citiesAndCountries {
      font-size: 1.1em;
      color: $Primary-color;
    }
    p {
      font-size: 0.7em;
      margin: 0;
      font-weight: bold;
    }
    .prices {
      color: $Third-color;
      font-weight: lighter;
    }
  }
}
